/* Quiz Game Stylesheet */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #e8caa4;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

body,html{
    width: 100%;
    height: 100%;
    font-family: "Silkscreen", sans-serif;
    font-weight: 400;
}

h1{
    font-family: "Silkscreen", sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin-bottom: auto;
}

h2{
    font-family: "Pixelify Sans", sans-serif;
    font-weight: 700;
    margin-bottom: auto;
}

p{
    font-family: "VT323", monospace;
    font-weight: 600;
    margin-bottom: 20px;
    font-size: 2rem;
    margin-bottom: auto;
}

.screen.active{
    display: flex;
}

.screen{
    display: none;
    background-color: #ffffff;
    width: 50%;
    height: 50%;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

#start-screen h1{
   color: #e9b066ff;
}

#start-btn{
    width: 390px;
    height: 40px;
    border: 2px;
    border-radius: 10px;
    cursor: pointer;
    background-color: #e9b066ff;
    color: #ffffff;
}

#start-btn:hover{
    background-color: #996929cc;
}

/* Quiz Screen Styles */

#quiz-screen {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 20px;
    gap: 20px;
    width: 50%;
    height: 70%;
    background-color: #ffffff;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
    text-align: center;
}

#quiz-screen h2#question {
    font-size: 1.8rem;
    color: #e9b066ff;
    margin-bottom: 10px;
}

.info-quiz {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 90%;
    color: #333;
    margin-bottom: auto;
}

.info-quiz p {
    font-size: 1.2rem;
}

.anwers-container {
    display: flex;
    flex-direction: column;
    gap: 12px;
    width: 100%;
    max-width: 90%;
    margin-top: 10px;
    margin-bottom: auto;
}

.anwers-container button {
    background-color: #f5e1c3;
    border: none;
    border-radius: 10px;
    color: #222;
    padding: 12px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.3s;
    font-family: "VT323", monospace;
    text-align: left;
}

.anwers-container button:hover {
    background-color: #e9b066ff;
    color: white;
}

.progress-bar {
    width: 90%;
    height: 12px;
    background-color: #f5e1c3;
    border-radius: 6px;
    overflow: hidden;
    margin-top: 20px;
}

.progress {
    height: 100%;
    background-color: #e9b066ff;
    width: 0%;
    transition: width 0.3s ease;
}

/* End Screen Styles */

.result-score{
  margin-bottom: auto;
}

.result-score p{
    font-size: 1.5rem;
    margin-bottom: auto;
    color: #333;
}

.result-score span{
    font-weight: bold;
    color: #e9b066ff;
}

.result-score div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    font-weight: 400;
    color: #666;
    margin-top: 40px;
    background-color: #f5e1c3;
    width: 100%;
    height: 90px;
    color: #333;
}

#restart-btn {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #e9b066ff;
    color: #ffffff;
    font-size: 1.2rem;
    margin-top: 20px;
}

#restart-btn:hover {
    background-color: #996929cc;
    color: #ffffff;
}

/* Responsive Design */

@media (max-width: 1024px) {

    h1, h2, p {
        font-size: 2rem;
    }
}

@media (max-width: 768px) {
    h1, h2, p {
        font-size: 1.5rem;
    }

    #start-btn {
        width: 200px;
        height: 35px;
    }
}

@media (max-width: 480px) {
    h1{
        font-size: 0.8rem;
    }

    h2, p {
        font-size: 1.2rem;
    }

    #start-btn {
        width: 150px;
        height: 30px;
        font-size: 0.7rem;
    }
}

@media (max-width: 375px) {
    h1{
        font-size: 0.7rem;
    }

    h2, p {
        font-size: 1rem;
    }

    #start-btn {
        width: 120px;
        height: 25px;
        font-size: 0.5rem;
    }
}

@media (max-width: 320px) {
    h1{
        font-size: 0.6rem;
    }

    h2, p {
        font-size: 0.9rem;
    }

    #start-btn {
        width: 90px;
        height: 20px;
        font-size: 0.4rem;
    }
}